body {
    font-family: arial;
    }

.container {
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 50px;
}

header {
    background: #445161;
    padding: 25px 0 19px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-title {
    font-size: 60px;
    line-height: 69px;
    color: #FFFFFF;
    margin: 0 0 40px 0;
}

.header-list {
    margin: 0;
    padding: 0 0 0 21px;
    box-sizing: border-box;
    list-style-image: url(../img/icon-checkmark.svg);
}

.header-list-item {
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 0 0 10px 0;
}

.header-list-item:last-child {
    margin: 0;
    }

.header-img {
    background: #FFFFFF;
}

.primary {
    background: #FFFFFF;
}

.secondary {
    background: #F5F5F5;
}

.about-product {
    display: flex;
    justify-content: space-between;
    padding: 45px 0 50px;
}

.about-product-wrapper {
    max-width: 646px;
}

.main-h2 {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    text-align: center;
    width: 100%;
}

.about-product-h2 {
    text-align: left;
    margin: 0 0 17px 0;
}

.main-text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.about-product-text_margin {
    margin: 0 0 10px 0;
}

.about-product-video {
    background: #445161;
}

.pluses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0 22px;
}

.pluses-h2 {
    padding: 0;
    margin: 0 0 22px 0;
}

.pluses-items {
    max-width: 48.7%;
    padding: 0 0 0 42px;
    margin: 0 0 26px 0;
    background-image: url(../img/icon-plus.svg);
    background-position: 0 5px;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.screenshot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0 51px;
}

.screenshot-h2 {
    margin: 0 0 18px 0;
}

.screenshot-items {
    max-width: 50%;
    margin: 27px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.screenshot-img {
    background: #445161;
    margin: 0 14px 0 0;
}

.main-h3 {
    font-size: 24px;
    line-height: 30px;
    color: #445161;
    margin: 0 0 13px 0;
}