.body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 50px;
}

header {
    background: #445161;
    padding: 25px 0 19px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-title {
    font-size: 60px;
    line-height: 69px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.header-list {
    margin-left: 21px;
    list-style-image: url(img/icon-checkmark.svg);
}

.header-list-item {
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.header-img {
    background: #FFFFFF;
}

.primary {
    background: #FFFFFF;
}

.secondary {
    background: #F5F5F5;
}

.about-product {
    display: flex;
    justify-content: space-between;
    padding: 45px 0 50px;
}

.about-product-wrapper {
    max-width: 646px;
}

.main-h2 {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    text-align: center;
    width: 100%;
}

.about-product-h2 {
    text-align: left;
    margin-bottom: 17px;
}

.main-text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 11px;
}

.about-product-video {
    background: #445161;
}

.pluses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0 48px;
}

.pluses-items {
    max-width: 48%;
    padding-left: 42px;
    margin-top: 25px;
    background-image: url(img/icon-plus.svg);
    background-position: 0 5px;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.screenshot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0 51px;
}

.screenshot-h2 {
    margin-bottom: 18px;
}

.screenshot-items {
    max-width: 48%;
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
}

.screenshot-img {
    background: #445161;
    margin-right: 14px;
}

.main-h3 {
    font-size: 24px;
    line-height: 30px;
    color: #445161;
    margin-bottom: 13px;
}